@import url("https://fonts.googleapis.com/css2?family=PT+Sans&family=Roboto:wght@100;300;800&display=swap");

/* icons  link */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css");

*{
    margin:0;
    padding: 0;
}
:root {
    --main-box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    --hover-effect-color: #eeeded;
    --light-gray: rgb(176, 176, 176);
  }
.main-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "PT Sans", sans-serif;
    margin: 4rem;
    height: 21rem;
     width: 20rem;
  border-radius: 4px;
  box-shadow: var(--main-box-shadow);
}
html{
    font-size: 100%;
}
body {
    background-color: #f7f7f7;
  }
  h2{
      font-size: 1.5rem;
  }
  h3{
    font-size:   1rem;
  }
  p{
      font-size: 0.8rem;
  }
  img{
      height: 100%;
      width: 100%;
  }
  @media only screen and (max-width:600px){
         html{
             font-size: 75%;
         }
  }


  
